* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #ffffff8f;
  font-family: TS-Reg, sans-serif;
}

.container {
  width: 1096px;
  margin: 0 auto;
}

/* HEADER */

header {
  height: 60px;
  border-bottom: 1px solid #dfdfdf;
}

img {
  height: 42px;
  margin-top: 8px;
  margin-bottom: 5px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

menu i {
  display: flex;
  margin: 15px;
}
menu button {
  margin-left: 15px;
}

/* MAIN */

main {
  padding-top: 35px;
}

span {
  height: 200px;
  color: #ff5d5d;
}

main h1 {
  width: 1096px;
  margin: 0 auto;
  margin-bottom: 13px;
  font-weight: bolder;
  font-size: 54px;
}

main.container section {
  color: #333333;
  margin-bottom: 36px;
  font-size: 14px;
}
.navigation-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
}

.navigation-menu > div {
  padding: 15px;
  border: 1px solid black;
  border-radius: 14px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

/* les 3 images */

.tokyo {
  display: flex;
  height: 400px;
  margin-bottom: 100px;
  display: flex;
  gap: 2px;
}
.test {
  border: 1px solid red;
  height: 480px;
  display: flex;
}

.colonne1 {
  flex: 1;
  background-color: orange;
}
.colonne1 > div > img {
  height: 100%;
  width: 100%;
}
.colonne2 {
  width: 480px;
  /* background-color: blue; */
}

.colonne2 > div {
  /* border: 4px solid green; */
  height: 50%;
}
.colonne2 > div > img {
  height: 100%;
  width: 100%;
}
